.productCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
    border-radius: 20px;
    box-shadow: 2px 2px 14px black;
}
.productCard img{
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
}
.productDescription{
    padding: 20px;
}
.productDescription p{
    color: rgb(196, 4, 4);
    padding: 2px 3px;
}