* {
    margin: 0px;
}
body::-webkit-scrollbar{
        width: 8px;
    
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(0, 239, 40);
    
}
body::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
}