.NavBar{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.NavBar a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
