.NavBar{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.shopName{
    justify-self: flex-start;
}
.NavBar  a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
   
    
}
.navBarEnd {
    display: flex;
}

.navBarEnd a{
    margin-left: 70px;
}
