.NavBar{
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    

    
}
.shopName{
    flex: .6;
}
.NavBar links a{
    align-items: center;
    
    text-decoration: none;
    color: white;
    margin:0px 20px;
}
.NavBarEnd{
    flex: .4;
}